@model BuildersExchangeProject.Models.LINK
@using BuildersExchangeProject.Models

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>LINK</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.URL)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.URL)
        </dd>
        <dt>
            Assigned To
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CUSTOMER)
        </dd>
        <dt>
            Category
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CATEGORIES)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.URL_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
