@model IEnumerable<BuildersExchangeProject.Models.LINK>
@using BuildersExchangeProject.Models;

@{
    ViewBag.Title = "Index";
}

<h2>Links</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Link
        </th>

       <th>
            Assigned To
       </th>
       <th>
           Category
       </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.URL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CUSTOMERs)
        </td>
        <td>
            @Html.DisplayFor(ModelItem => item.CATEGORIES)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.URL_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.URL_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.URL_ID })
        </td>
    </tr>
}

</table>
